body {
  background-color: white;
  background-image: url('/assets/svg/board.svg');
  background-repeat: repeat;
}

::-webkit-scrollbar {
  width: 6px;  /* Ancho de la barra de desplazamiento */
  margin: 0px 3px;
}

/* Estilo del "track" o riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: transparent; /* Hacemos el fondo del riel transparente */
  padding: 10px;
}

/* Estilo del "thumb" o control deslizante de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: #888; /* Un color gris oscuro para el control deslizante, minimalista pero aún visible */
  border-radius: 4px; /* Suaviza las esquinas del control deslizante para un aspecto más pulido */
}

/* Estilo del "thumb" al pasar el mouse sobre él */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Oscurece un poco el control deslizante al pasar el mouse sobre él para indicar interactividad */
}